@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 25 130 220;
  --color-secondary: 25 190 220;

  --color-background-dark: 24 24 24;
  --color-background: 31 31 31;
  --color-field-dark: 18 18 18;

  --color-border: 41 41 41;

  --color-text-gray: 160 160 160;
}