@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar{
  width: 300px;
  float: left;
}

#navbar_base{
  height: 100vh;
  width: 300px;
  background-color: rgb(24,24,24);
  border-right: solid 2px rgb(41,41,41);
}

#navbar_serchbar{
  width: 500px;
}


#main{
  background-color: rgb(31,31,31);
  height: 100vh;
  width: calc(100vw - 300px);
  margin-left: 300px;
}

#layout{
  background-color: blueviolet;
}
